body {
  background-color: Black;
  padding-top: 15px;
}

.input-row {
  margin-bottom: 15px;
}

.btn-circle {
  margin-top: 30px;
  width: 320px;
  height: 320px;
  border-radius: 160px;
  text-align: center;
  font-size: 100px;
  padding-top: 25px;
  padding-left: 25px;
}

input[type='tel'] {
  font-size: 50px;
  text-align: center;
  height: 70px;
  padding: 0px;
}
